@charset "utf-8";

.font {
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
}

.inner {
  display: inline-block;
  width: 1100px;
  text-align: center;
}

.header {
  background: #fff;
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  width: 100%;
  z-index: 99;
  top: 0;
}

.header-inner {
  padding:15px 0 15px 0;
}

.header-bolt {  
  float: left;
  font-size: 40px;
}

.header-inner-button {
  float: right;
}

.button {
  color: #fff;
  transition: color 0.3s linear;
  display: inline-block;
}

.button:hover {
  transition: color 0.3s linear;
  color: #333;
}

.button-text {
  background: #74cfae;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  padding: 14px 12px;
  box-sizing: border-box;
}

.title {
  padding-top: 70px;
  background: #f2f2f2;
  width: 100%;
}

.title-inner {
  padding: 250px 0;
}

.title-text{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title-subtext {
  color: 	#9b8a8a;
  margin-top: 20px;
}

.whatwecando {
  background: #74cfae;
  margin: 0;
  width: 100%;
}

.whatwecando-inner {
  padding-top: 50px;
}

.whatwecando-img-box　{
  display: inline-block;
  float: left;
}

.whatwecando-img {
  float: left;
  padding-left: 150px;
  width: 150px;
}

.whatwecando-text-box {
  display: inline-block;
}

.whatwecando-text {
  color: #fff;
  font-size: 24px;
}

.whatwecando-subtextbox {
  width: 100%;
}

.whatwecando-subtext {
  color: #fff;
  line-height: 20px;
  margin-top: 35px;
}

.ourlatestwork {
  background: #f2f2f2; 
}

.ourlatestwork-inner {
  padding: 60px 0 70px 0;
}

.ourlatestwork-textbox {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}
.ourlatestwork-text {
  font-size: 24px;
}

.ourlatestwork-imgbox {
  font-size: 0;
  margin-bottom: 90px ;
  display: inline-block;
}

.ourlatest-img:first-child{ 
  margin: 0;
}

.ourlatest-img {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin-left: 100px;
  float: left;
}

.ourlatest-img:nth-child(n+4) {
  margin: 0;
  margin: 80px 100px 0 0;
}

.ourlatest-img:last-child {
  margin-right: 0;
}

.ourlatest-img:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.ourlatestwork-footer-textbox {
  display: inline-block;
}

.ourlatestwork-footer-text {
  font-size: 12px;
  line-height: 20px;
  margin-right: 90px;
}

.email-button {
  vertical-align: top;
}

.ourskills {
  background: #333;
  width: 100%;
}

.ourskills-inner {
  padding: 70px 0 100px 0;
}

.ourskills-box {
  display: inline-block;
}

.ourskills-title-text {
  color: #f2f2f2;
  font-size: 24px;
}

.ourskills-img-textbox {
  float: left;
  margin-left: 180px;
  display: inline-block;
}

.ourskills-img-textbox:first-child {
  margin: 0;
}

.ourskills-text {
  color: #f2f2f2;
  font-size: 16px;
  padding-top: 20px;
}

.sns {
  background: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-icon {
  color: #74cfae;
  cursor: pointer;
  font-size: 40px;
  padding: 20px 0;
  width: 185px;
  background: #f2f2f2;
  transition: background 0.3s linear;
}

.sns-icon:hover {
  transition: background 0.3s linear;
  background: #fff;
}

footer {
  width: 100%;
  background: #74cfae;
}

.footer-inner {
  padding: 20px 25px 25px 0;
}

.footer-textbox {
  float: right;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}