@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  cursor: pointer;
  font-size: 0;
  display: inline-block;
}

img {
  vertical-align: bottom;
}

.inner {
  width: 1100px;
  margin: auto;
  text-align: center;
}

body {
  font-family: Lato;
}

.font-specification {
  font-family: Raleway;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-inner {
  padding:15px 0;
}

.header-inner-button {
  float: right;
}

.header-bolt {  
  float: left;
  font-size: 40px;
}

.button {
  color: #fff;
  transition: color 0.3s linear;
  display: inline-block;
}

.button:hover {
  color: #333;
}

.button-text {
  background: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
}

.hamburger-menu-box {
  display: none;
}

.main {
  width: 100%;
  padding-top: 70px;
  background: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title-text {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}

.title-subtext {
  color: 	#c0c0c0;
  margin-top: 20px;
  font-size: 30px;
}

.whatwecando {
  background: #74cfae;
  width: 100%;
}

.whatwecando-inner {
  padding-top: 50px;
  text-align: end;
}

.whatwecando-img-box {
  display: inline-block;;
}

.whatwecando-text-box {
  width: 670px;
  margin-left:100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.whatwecando-text {
  color: #fff;
  font-size: 24px;
}

.whatwecando-subtext {
  color: #fff;
  line-height: 30px;
  margin-top: 35px;
  font-size: 20px;
}

.ourlatestwork {
  background: #f2f2f2; 
  width: 100%;
}

.ourlatestwork-inner {
  padding: 60px 0 70px 0;
}

.ourlatestwork-text {
  color: #333;
  font-size: 24px;
}

.ourlatestwork-imgbox {
  margin-top: 40px;
  font-size: 0;
  display: inline-block;
  width: 100%;
}

.ourlatestwork-list {
  margin-left: 100px;
  float: left;
}

.ourlatest-img-button {
  opacity: 0.7;
  transition:  0.3s;
  text-align: center;
}

.ourlatest-img-button:hover {
  opacity: 1;
}
.ourlatestwork-list:nth-child(n+4) {
  margin-top: 80px;
}

.ourlatestwork-list:nth-child(3n+1) {
  margin-left: 0;
}


.ourlatestwork-footer {
  margin-top: 90px;
}

.ourlatestwork-footer-textbox {
  display: inline-block;
  width: 670px;
}

.ourlatestwork-footer-text {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}

.email-text{
  padding: 14px 20px;
}

.email-button {
  margin-left: 90px;
  vertical-align: top;
}

.ourskills {
  background: #4e4e4e;
  width: 100%;
}

.ourskills-inner {
  padding: 70px 0 100px 0;
}

.ourskills-title-text {
  color: #f2f2f2;
  font-size: 24px;
}

.ourskills-box {
  margin-top: 20px;
}

.ourskills-list {
  margin-left:180px;
  display: inline-block;
}

.ourskills-list:first-child {
  margin: 0;
}

.ourskills-text {
  color: #f2f2f2;
  font-size: 16px;
  margin-top: 20px;
}

.sns {
  background: #f2f2f2;
  width: 100%;
}

.sns-inner {
  padding: 200px 0;
}

.sns-box {
  font-size: 0;
}

.sns-icon {
  color: #74cfae;
}

.sns-list {
  width: 185px;
  display: inline-block;
}

.sns-button {
  width: 100%;
  font-size: 40px;
  padding: 30px 0;
  transition: background 0.3s linear;
}

.sns-button:hover {
  background: #fff;
  transition: background 0.3s linear;
}

footer {
  width: 100%;
  background: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: end;
  color: #fff;
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }
  
  .whatwecando-inner {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .whatwecando-text-box {
    width: 100%;
    margin: 20px 0 0 0;
  }
  
  .whatwecando-subtext {
    word-break: break-all;
  }
  
  .ourskills-img-textbox {
    display: block;
  }
  
  .ourlatestwork-imgbox {
    width: 300px;
  }

  .ourlatestwork-list {
    margin-left: 0;
  }
  
  .ourlatestwork-list:nth-child(n+4) {
    margin-top: 0;
  }
  
  .ourlatestwork-list:nth-child(3n+1) {
    margin-top: 80px;
  }
  
  .ourlatestwork-list:first-child {
    margin-top: 0;
  }
  
  .ourlatestwork-img {
    vertical-align: bottom;  
  }
  
  .ourlatestwork-footer {
    margin-top: 80px;
  }

  .ourlatestwork-footer-textbox {
    display: inline-block;
    width: 100%;
  }

  .email-button {
    margin: 40px 0 0 0;
  }

  .ourskills-list {
    margin: 88px 0 0 0;
  }

  .ourskills-box {
    width: 122px;
    display: inline-block;
  }

  .sns-list {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {  
  .header-button {
    display: none;
  }
  
  .hamburger-menu-box {
    display: inline-block;
    position: absolute;
    right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hamburger-menu-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #c0c0c0;
    margin-bottom: 4px;
  }
  
  .hamburger-menu-icon:last-child {
    margin-bottom: 0;
  }
  
  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title-text {
    font-size: 80px;
  }

  .title-subtext {
    margin-top: 20px;
  }

  .sns-inner {
    padding: 50px 0;
  }
  
  .sns-list {
    width: 100%;
  }
}