@charset "utf-8";
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

img {
  vertical-align: bottom;
}

.inner {
  margin: auto;
  text-align: center;
}

body {
  font-family: Lato;
}

.font-specification {
  font-family: Raleway;
}

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header-inner {
  padding:15px 0;
}

.header-inner-button {
  float: right;
}

.header-bolt {  
  float: left;
  font-size: 40px;
}

.button,
.header-button {
  color: #fff;
  transition: color 0.3s linear;
  display: inline-block;
}

.button:hover,
.header-button:hover {
  color: #333;
}

.button-text,
.header-button-text {
  background: #74cfae;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  padding: 14px 12px;
}

.main {
  width: 100%;
  padding-top: 70px;
  background: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title-text{
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}

.title-subtext {
  color: 	#c0c0c0;
  margin-top: 20px;
  font-size: 30px;
}

.whatwecando {
  background: #74cfae;
  width: 100%;
}

.whatwecando-inner {
  padding-top: 50px;
  text-align: center;
}

.whatwecando-img-box {
  display: inline-block;;
}

.whatwecando-img {
  width: 150px;
}

.whatwecando-text-box {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
  margin-top: 20px;
}

.whatwecando-text {
  color: #fff;
  font-size: 24px;
}

.whatwecando-subtext {
  color: #fff;
  line-height: 30px;
  margin-top: 35px;
  font-size: 20px;
}

.ourlatestwork {
  background: #f2f2f2; 
  width: 100%;
}

.ourlatestwork-inner {
  padding: 60px 0 70px 0;
}

.ourlatestwork-text {
  margin-bottom: 40px;
  color: #333;
  font-size: 24px;
}

.ourlatestwork-imgbox {
  font-size: 0;
  display: inline-block;
  width: 300px;
}

.ourlatest-img-button {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  float: left;
  text-align: center;
}

.ourlatest-img-button:nth-child(3n+1) {
  margin-top: 80px;
}

.ourlatest-img-button:first-child {
  margin-top: 0;
}

.ourlatestwork-img {
  vertical-align: bottom;  
}

.ourlatest-img-button:hover {
  opacity: 1;
}

.ourlatestwork-footer-textbox {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}

.ourlatestwork-footer-text {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}

.email-button {
  vertical-align: top;
}

.email-text {
  padding: 14px 20px;
  margin-top: 40px;
}

.ourskills {
  background: #4e4e4e;
  width: 100%;
}

.ourskills-inner {
  padding: 70px 0 100px 0;
}

.ourskills-box {
  display: inline-block;
  width: 122px;
}

.ourskills-title-text {
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom: 20px;
}

.ourskills-img-textbox {
  margin-top: 88px;
  display: inline-block;
}

.ourskills-img-textbox:first-child {
  margin: 0;
}

.ourskills-text {
  color: #f2f2f2;
  font-size: 16px;
  margin-top: 20px;
}

.sns {
  background: #f2f2f2;
  width: 100%;
}

.sns-inner {
  padding: 200px 0;
}

.sns-icon {
  color: #74cfae;
  width: 185px;
  padding: 30px 0;
  background: #f2f2f2;
  transition: background 0.3s linear;
}

.sns-button {
  cursor: pointer;
  font-size: 40px;
}

.sns-icon:hover {
  background: #fff;
}

footer {
  width: 100%;
  background: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: end;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .inner {
    width: 1100px;
  }

  .whatwecando-inner {
    text-align: end;
  }

  .whatwecando-text-box {
    width: 670px;
    margin-left:100px;
  }

  .ourlatestwork-imgbox {
    width: 100%;
    margin-bottom: 90px ;
  }

  .ourlatest-img-button {
    margin-left: 100px;
  }

  .ourlatest-img-button:nth-child(3n+1) {
    margin-left: 0;
  }

  .ourlatest-img-button:nth-child(n+4) {
    margin-top: 80px;
  }

  .ourlatestwork-footer-textbox {
    width: 670px;
    margin-top: 0;
  }

  .ourlatestwork-footer-text {
    margin-right: 90px;
  }

  .email-text {
    margin-top: 0;
  }

  .ourskills-box {
    width: 100%;
  }

  .ourskills-img-textbox {
    margin-left:180px;
  }
}

@media screen and (min-width:768px) and ( max-width:1199px){
  .whatwecando-subtext {
    word-break: break-all;
  } 
}

@media screen and (max-width: 767px) {
  .header-button {
    position: relative;
    z-index: 1;
  }

  .header-button-text {
    visibility: hidden;
  }
  
  .hambargar-menu-box{
    display: inline-block;
    position: absolute;
    right: 10px;
  }

  .hambargar-menu-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hambargar-menu-icon {
    width: 20px;
    height: 2px;
    background-color: #c0c0c0;
    margin-bottom: 4px;
  }

  .hambargar-menu-icon:last-child {
    margin-bottom: 0;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title-text {
    font-size: 80px;
  }

  .title-subtext {
    margin-top: 20px;
  }

  .whatwecando-subtext {
    word-break: break-all;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-box,
  .sns-button{
    display: inline-block;
    width: 100%;
  }

  .sns-icon {
    width: 100%;
  }
}
